*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
coverage/
Vagrantfile
.vagrant/

# YARD artifacts
.yardoc
_yardoc
doc/

**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb
brakeman/
brakeman-outputs.tabs
rubocop/
brakeman*
features/results/